- const ADMIN_EMAIL = 'coda.eugen@gmail.com'
- const BUSINESS = '5f3be533e77e6f5c5aa7e034'
- const POLITICS = '5f3be53ce77e6f5c5aa7e035'
- const SPORTS = '5f3d2755909031446829da4c'
- const EDUCATION = '5f3fe00f3e0ccb4dd1243075'
- const HEALTH = '5f44d77af268381b2b007ccc'
- const CORONAVIRUS = '5f44d761f268381b2b007ccb'