- const ADMIN_EMAIL = 'office@romanianreporter.com'
- const BUSINESS = '5f58ed9b58b8b0381d109cc4'
- const POLITICS = '5f58edad58b8b0381d109cc5'
- const SPORTS = '5f58edd158b8b0381d109cc8'
- const EDUCATION = '5f58ef5254ef4c3d5e8e292c'
- const HEALTH = '5f58edc458b8b0381d109cc7'
- const CORONAVIRUS = '5f58edde58b8b0381d109cc9'