.exchange_rate
  br
  h6.sidebar_title BNR Exchange Rate
  .container-fluid
    p#publishingdate      
    .container-fluid
      .row
        img(id='currency', src='/images/currencies/eur.jpg', title='euro currency', alt='euro currency') 
        p#EUR EUR = 
      .row
        img(id='currency', src='/images/currencies/usd.jpg', title='usd currency', alt='usd currency')
        p#USD USD = 
      .row
        img(id='currency', src='/images/currencies/gbp.jpg', title='gbp currency', alt='gbp currency')
        p#GBP GBP = 
      if user && user.email == env.ADMIN_EMAIL
        p#MDL  MDL = 
        p#PLN  PLN = 


    //- Display Exchange Rate
    //- Due to CORS issue, cannot fetch directly to front end, so first it is fetched to backend, then here
    script.
      window.addEventListener('DOMContentLoaded', (event) => {
        //- console.log('DOM fully loaded and parsed');
        //- data is fetched on the backend first and then to both index and articles routes
        let url = window.location.pathname.includes("articles") ? `${window.location.pathname}/exchange` : "exchange";
        function getExchangeRate(){fetch(url)
          .then((response) => {return response.json()})
          .then(function(data) {
            let exchange_rate = data;
            document.getElementById('publishingdate').textContent += exchange_rate.elements[0].elements[0].elements[1].elements[0].text;
            document.getElementById('EUR').textContent += exchange_rate.elements[0].elements[1].elements[2].elements[10].elements[0].text
            document.getElementById('USD').textContent += exchange_rate.elements[0].elements[1].elements[2].elements[28].elements[0].text;
            document.getElementById('GBP').textContent += exchange_rate.elements[0].elements[1].elements[2].elements[11].elements[0].text;
            document.getElementById('MDL').textContent += exchange_rate.elements[0].elements[1].elements[2].elements[17].elements[0].text;
            document.getElementById('PLN').textContent += exchange_rate.elements[0].elements[1].elements[2].elements[21].elements[0].text;
          })
          .catch((err) => console.error(err));
        };
        getExchangeRate();
      });