extends layout

block content
  h3=title

  div(style='margin-left:20px;margin-top:20px')
    table.table.table-borderless.table-hover
      tbody
        tr
          td 
            a(href='/users/help/contact') Contact us
        tr
          td
            a(href='#') FAQ