extends layout

block content
  h3=title

  form(method='POST' action='/users/help/contact')
    div.form-group
      label(for='email') Email:
      input#email.form-control(type='text' name='email' required='true')
    div.form-group
      label(for='subject') Subject:
      input#subject.form-control(type='text' name='subject' required='true')
    div.form-group
      label(for='description') Description:
      textarea#description.form-control(type='textarea', placeholder='Enter your message' name='description' rows='3' required='true')
    button.btn.btn-primary(type='submit') Submit
    | 
    a.btn.btn-secondary(href='/users/help') Cancel
