body {
  min-height: 75rem;
  padding-top: 0;
  background: #e1e1e1;
  /* margin: 8px; */
  display: block;
  line-height: 1.6;
  font-family: "Roboto", sans-serif;
}
.alert-error {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

#tokenResend {
  font-size: small;
}

/* User Profile Dropdown */
#dropdown02 {
  width: 130px;
  text-align: center;
}

.container {
  padding-top: 20px;
}

.app_body {
  float: none;
  /* max-width: 1200px; */
  min-height: 800px;
  height: auto;
  overflow: hidden;
  /* padding: 10px 15px 20px 15px; */
  background: white;
  margin: auto;
  display: block;
  clear: both;
}

.navbar {
  background-color: #0f4476;
  /* border-radius: 3px; */
}

footer {
  background: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  padding: 15px;
  display: block;
  float: none;
  /* max-width: 1200px; */
  height: auto;
}

/* Article images */
#article_img {
  margin-right: 15px;
  border-radius: 3px;
  width: 100%;
}

a {
  color: #0f4476;
  text-decoration: none;
}

a:hover {
  color: #0f4476;
  text-decoration: none;
}

.article_title {
  color: #181818;
  font-weight: bold;
}

.article-md {
  font-size: 14px;
}

.article-tag {
  position: relative;
  display: inline-flex;
  border-radius: 2px;
  background-color: #0f4476;
  color: white;
  padding: 7px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 13px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  z-index: 1;
}

.article-tag:hover {
  text-decoration: none;
  color: rgb(204, 200, 223);
}

.search-box {
  margin: 0;
  margin-top: 30px;
}

.sidebar-article {
  margin: 20px;
}

.sidebar_title {
  font-size: 18px;
  color: #0f4476;
  border-bottom: 2px solid #0f4476;
  padding-bottom: 3px;
}

.exchange_rate {
  margin: 20px;
}

.exchange_rate p,
td {
  font-size: 14px;
}

#currency {
  max-width: 100%;
  width: 18px;
  height: 18px;
  vertical-align: top;
  margin-right: 8px;
  border: 0;
}

/* Add, edit and delete articles */
.bi-plus-circle-fill,
.bi-pencil,
.bi-x-circle-fill {
  width: 1.3em;
  height: 1.3em;
  margin-right: 5px;
  margin-left: 5px;
}

/* For category lists - to be shown in 3 columns */
#unorderedList {
  list-style-type: none;
  columns: 3;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  #unorderedList {
    list-style-type: none;
    columns: 2;
  }
}
